[push]
	default = current

[credential]
	helper = osxkeychain

[pager]
	branch = false

[core]
	excludesfile = "~/.gitignore_global"
    ignorecase = false
    autocrlf = false

[user]
	name = "Mohannad Najjar"
	email = "mohannadnaj@me.com"

